@model AppDevProjectGroup27.Models.ViewModels.TableBookingHistVM
@using AppDevProjectGroup27.Utility
@{
    ViewData["Title"] = "My Table Booking History |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="border backgroundWhiteBorder">
    <h2 class="text-info">My Table Booking History:</h2>
    <br />
    @if (Model.tableBookingHeaders.Count() > 0)
    {

        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(m => m.tableBookingHeaders.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.tableBookingHeaders.First().TableName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.tableBookingHeaders.First().TableBooked)
                </th>
                <th>
                    Date Booked
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.tableBookingHeaders.First().SitInDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.tableBookingHeaders.First().SitInTime)
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model.tableBookingHeaders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TableName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TableBooked)
                    </td>
                    <td>
                        @item.DateBookingMade.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.SitInDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.SitInTime.ToString(@"hh\:mm")
                    </td>
                    <td>
                        @if (item.Status == SD.TableStatusCancelled || item.Status == SD.TableStatusCompleted)
                        {
                            <p>@Html.DisplayFor(m => item.Status)</p>
                        }
                        else
                        {
                            <p>@Html.DisplayFor(m => item.BookStatus)</p>
                        }
                    </td>
                    <td>
                        @if (item.Status != SD.TableStatusCompleted && item.Status != SD.TableStatusCancelled && item.BookStatus != SD.BookTableStatusRejected && User.IsInRole(SD.CustomerEndUser))
                        {
                            <form method="post">
                                <button type="submit" asp-controller="TableBookingManage" asp-action="CusCancelBooking" asp-route-TableHeaderId="@item.Id" class="btn btn-danger form-control mb-3">
                                    <i class="fas fa-times"></i>&nbsp; Cancel Booking
                                </button>
                            </form>
                        }
                        else if (item.Status != SD.TableStatusCompleted && item.Status != SD.TableStatusCancelled && item.BookStatus != SD.BookTableStatusRejected && (User.IsInRole(SD.FrontDeskUser) || User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.KitchenUser)))
                        {
                        <form method="post">
                            <button type="submit"  asp-controller="TableBookingManage" asp-action="THCusCancelBooking" asp-route-TableHeaderId="@item.Id" class="btn btn-danger form-control mb-3">
                                <i class="fas fa-times"></i>&nbsp; Cancel Booking
                            </button>
                        </form>
                        }
                    </td>
                </tr>
            }
        </table>
        <div page-model="@Model.PagingInfo"
             page-classes-enabled="true"
             page-class="btn border"
             page-class-normal="btn btn-light"
             page-class-selected="btn btn-info active"
             class="btn-group float-right">

        </div>
        <br />
    }
    else
    {
        <p>No Table Bookings...</p>
    }
</div>