@model IEnumerable<TableTrack>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhiteBorder">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Table Track List</h2>
        </div>
    </div>
    <br />

    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Table.SeatingName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.DateTable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.TimeTable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.AmtAva)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Table.SeatingName)
                        </td>
                        <td>
                            @item.DateTable.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.TimeTable.ToString(@"hh\:mm")
                        </td>
                        <td>
                            @if (item.AmtAva < 0)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                @Html.DisplayFor(m => item.AmtAva)
                            }
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p>No Tables Exist...</p>
        }
    </div>
</div>