@model AppDevProjectGroup27.Models.ViewModels.MenuItemViewModel
@using AppDevProjectGroup27.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2 class="text-info">Create Menu Item</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItems.Name" class="form-control" />
            </div>
            <span asp-validation-for="MenuItems.Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Descriptions" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.MenuItems.Descriptions)
            </div>
            <span asp-validation-for="MenuItems.Descriptions" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItems.Price" class="form-control" />
            </div>
            <span asp-validation-for="MenuItems.Price" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <!--Removed the following line from the select below: asp-items="Model.Catergory.ToselectListItems(Model.MenuItem.CatergoryId)"-->
                <select asp-for="@Model.MenuItems.CategoryId" id="CategoryId" asp-items="Model.CategoryItems" class="form-control"></select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.MenuItems.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))" class="form-control"></select>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.Spicyness" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="MenuItems.Spicyness" asp-items="Html.GetEnumSelectList<MenuItems.ESpicy>()" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItems.OnSpecial" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="checkbox" asp-for="MenuItems.OnSpecial" class="form-control" />
            </div>
        </div>


        <br />

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>


@section Scripts{

    @*for tinyMCE text area for disciption*@ 
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'fuke edit format'
        });
    </script>

    @*This sctipt is for the subCategory DropDown*@
    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryId').change(function () {
                getSubCategory();
            });
        });
        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsoruce = '#CategoryId';
            $.getJSON(url, { id: $(ddlsoruce).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });
                $('#SubCategoryId').html(items);
            })
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");};
}